{% extends 'base.html' %}

{% block metadata %}
    <title>CpitHub - Home</title>
{% endblock %}

{% block content %}
    <h1>Welcome to CpitHub</h1>
    <p>Here you can create projects, manage them, and share them with different versions with other.</p>
    <!-- <br> -->
    <div style="margin-top: 25px; border-top-width: 10px;">
        <p>
            <a href="/signin">Sign In</a>
            or <a href="/signup">Sign Up</a>
        </p>
    </div>
    
    
    


{% endblock %}